.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.topbar {
  width: 100%;
  height: 5rem;
  background-color: #333;
  color: white;
  display: grid;
  place-items: start;
  padding-left: 2rem;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  height: 100%;
  background-color: #ccc;
  padding: 1rem;
}

.content {
  flex-grow: 1;
  height: 100%;
  padding: 1rem;
}
