@import '../styles/colour.css';

div {
  color: #4D484A;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.topbar {
  height: 5rem;
  background-color: {{{main_bg_color}}};
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.minename {
  display: flex;
  flex-grow: 1;
  padding-left: 2rem;
}

.searchbar {
  display: flex;
  flex-grow: 1;
  flex-basis: 80%;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  flex-grow: 1;
  height: 100%;
  background-color: #FFDBED;
  padding: 1rem;
}

.content {
  flex-grow: 1;
  flex-basis: 80%;
  height: 100%;
  padding: 1rem;
}
