.minemap {
  display: flex;
  flex-direction: column;
}

.mapsearch {
  order: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  white-space: nowrap;
  margin-right: 0.5rem;
  font-size: smaller;
}

.mapsearchbox {
  width: 100%;
  box-sizing: border-box;
  font-size: larger;
}

.tree {
  order: 1;
}

.row {
  display: flex;
  align-items: center;
  width: 96%;
}

.row:focus {
  outline: none;
  border-radius: 0.3rem;
  border: 2px solid;
  border-color: var(--color_side_fg);
}

.node {
  display: flex;
  white-space: nowrap;
}
