@import url('../styles/colour.css');

.nuggetarea {
  display: flex;
  order: 1;
  flex-grow: 1;
  flex-basis: 70%;
  justify-content: center;
  flex-direction: column;
}

.inboundpassage {
  display: flex;
  order: 0;
  flex-grow: 1;
  flex-basis: 15%;
  justify-content: center;
  flex-direction: column;
  font-size: smaller;
}

.outboundpassage {
  display: flex;
  order: 2;
  flex-grow: 1;
  flex-basis: 15%;
  justify-content: center;
  flex-direction: column;
  font-size: smaller;
}

.inboundnugget {
  display: flex;
  order: 0;
  flex-basis: 15%;
  justify-content: center;
  font-size: smaller;
  max-height: 20rem;
}

.outboundnugget {
  display: flex;
  order: 2;
  flex-basis: 15%;
  justify-content: center;
  font-size: smaller;
  max-height: 20rem;
}

.bordered {
  border-radius: 2rem;
  border: 0.3rem solid;
  padding: 2rem;
  margin: 0.2rem;
  max-height: 100%;
}

.main {
  border-width: 0.5rem;
  order: 1;
  flex-grow: 2;
  background-color: var(--color-main-bg);
}

.nugget {
  border-color: var(--color-nugget);
}

.passage {
  border-color: var(--color-passage);
}

.seam {
  border-color: var(--color-seam);
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  overflow: scroll;
}

.content {
  order: 1;
}

.breadcrumbs {
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  order: 2;
}

.crumbs {
  display: flex;
  flex-direction: row;
}

.crumb {
  display: flex;
}

.table {
  width: 100%;
}

.table th {
  text-align: left;
}
